[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
disnake = "*"
requests = "*"
twitchio = "*"
django = "*"
asgiref = "*"
django-sass-processor = "*"
libsass = "*"

[dev-packages]

[requires]
python_version = "3.9"
