@import './theme';
@import './mixins';

label {
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-space {
  display: block;
  height: $content-margin;
}

.form-group {
  display: block;
  margin-bottom: 1.5 * $content-margin;

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  &.split {
    display: flex;
    flex-direction: row;

    @include margin-between-horizontal($content-margin);

    &.even > * {
      flex-grow: 1;
      flex-basis: 0;
    }
  }

  &.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2 * $content-margin;

    @include margin-between-horizontal($content-margin);
  }
}


label {
  font-weight: bold;
}

input,
select,
textarea,
.input,
.input-mock,
.labeled,
.checkbox {
  @at-root label + & {
    margin-top: $content-margin;
  }

  @at-root label + p, p + p {
    margin-top: 0.5 * $content-margin;
    margin-bottom: 0;
  }

  @at-root p + & {
    margin-top: $content-margin;
  }
}
