@import 'theme';
@import 'mixins';
@import 'input';
@import 'forms';

body {
  max-width: 800px;
  margin: 4em auto;

  color: $layer0-color;
  background-color: $layer0-color-background;

  &.modal {
    max-width: 600px;
    margin: 8em auto;
  }

  &:last-child:after {
    display: block;
    height: 1rem;
  }
}

.window {
  @include border-radius($border-radius-large);
  @include box-sizing(border-box);
  margin-bottom: 2 * $content-margin;

  & > .accent {
    height: $content-margin / 2;
    @include border-radius-top($border-radius-large);
  }

  .actual {
    padding: $content-margin / 2 $content-margin $content-margin $content-margin;

    & > .header {
      margin: $content-margin;

      a {
        color: inherit;
      }
    }

    & > .content {
      margin: $content-margin;
      padding-top: $content-margin;

      & > *:first-child {
        margin-top: 0;
      }
    }
  }
}

.windowless {
  margin-bottom: 2 * $content-margin;

  *:first-child {
    margin-top: 0;
  }
}

.float-right {
  float: right;
}

.errors {
  color: $color-accent;
  margin-top: 0;
  padding-left: 1em;
}

.steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;

  $themes: (
    "primary" $color-primary $color-primary-inverse,
    "spotify" $color-spotify $color-spotify-inverse,
    "twitch" $color-twitch $color-twitch-inverse,
  );

  .step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;

    @each $name, $background-color, $color in $themes {
      &.#{$name} {
        font-weight: bold;
        color: $color;
        background-color: $background-color;
      }
    }
  }

  .link {
    height: 2px;
    width: 2em;

    @each $name1, $background-color1, $color1 in $themes {
      @each $name2, $background-color2, $color2 in $themes {
        &.#{$name1}-#{$name2} {
          background-image: linear-gradient(to right, $background-color1, $background-color2);
        }
      }
    }
  }
}
