{% extends "shared/default.html" %}
{% load static %}
{% load flow %}

{% block head %}
<script type="text/javascript" src="{% static "js/spotify.js" %}"></script>
{% endblock %}

{% block content %}
<div class="window layer1 theme-twitch">
  <div class="accent"></div>
  <div class="actual">
    <h1 class="header">Add Twitch Integration</h1>
    <div class="content">
      <form method="post">
        {% csrf_token %}
        {% include "core/integrations/twitch/form.html" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
