@import url("https://fonts.googleapis.com/css?family=Poppins:500,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,500");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono");
@import url("https://fonts.googleapis.com/css?family=Poppins:500,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,500");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono");
@import url("https://fonts.googleapis.com/css?family=Poppins:500,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,500");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono");
body {
  font-family: "Lato", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 26px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", "Helvetica Neue", "sans-serif";
  font-weight: 600;
  line-height: 1.1; }

.color-primary {
  color: #74E9D4 !important; }

.background-color-primary {
  background-color: #74E9D4; }

.color-secondary {
  color: #298086 !important; }

.background-color-secondary {
  background-color: #298086; }

.color-accent {
  color: #E43D30 !important; }

.background-color-accent {
  background-color: #E43D30; }

.theme-spotify .color-primary {
  color: #1DB954; }

.theme-spotify .background-color-primary, .theme-spotify.window > .accent {
  background-color: #1DB954; }

.theme-spotify button.primary,
.theme-spotify .button.primary {
  background-color: #1DB954;
  border-color: #1DB954;
  color: white; }
  .theme-spotify button.primary:not(:disabled):active,
  .theme-spotify .button.primary:not(:disabled):active {
    background-color: #168d40;
    border-color: #168d40;
    color: #e6e6e6; }

.theme-spotify button.secondary,
.theme-spotify .button.secondary {
  background-color: transparent;
  border-color: #1DB954;
  color: #1DB954; }
  .theme-spotify button.secondary:not(:disabled):active,
  .theme-spotify .button.secondary:not(:disabled):active {
    border-color: #168d40;
    color: #168d40; }

.theme-spotify .checkbox > input:checked + .check {
  background-color: #1DB954; }

.theme-spotify a {
  color: #1DB954; }

.theme-twitch .color-primary {
  color: #9146FF; }

.theme-twitch .background-color-primary, .theme-twitch.window > .accent {
  background-color: #9146FF; }

.theme-twitch button.primary,
.theme-twitch .button.primary {
  background-color: #9146FF;
  border-color: #9146FF;
  color: white; }
  .theme-twitch button.primary:not(:disabled):active,
  .theme-twitch .button.primary:not(:disabled):active {
    background-color: #7313ff;
    border-color: #7313ff;
    color: #e6e6e6; }

.theme-twitch button.secondary,
.theme-twitch .button.secondary {
  background-color: transparent;
  border-color: #9146FF;
  color: #9146FF; }
  .theme-twitch button.secondary:not(:disabled):active,
  .theme-twitch .button.secondary:not(:disabled):active {
    border-color: #7313ff;
    color: #7313ff; }

.theme-twitch .checkbox > input:checked + .check {
  background-color: #9146FF; }

.theme-twitch a {
  color: #9146FF; }

.theme-discord .color-primary {
  color: #5865F2; }

.theme-discord .background-color-primary, .theme-discord.window > .accent {
  background-color: #5865F2; }

.theme-discord button.primary,
.theme-discord .button.primary {
  background-color: #5865F2;
  border-color: #5865F2;
  color: white; }
  .theme-discord button.primary:not(:disabled):active,
  .theme-discord .button.primary:not(:disabled):active {
    background-color: #2939ee;
    border-color: #2939ee;
    color: #e6e6e6; }

.theme-discord button.secondary,
.theme-discord .button.secondary {
  background-color: transparent;
  border-color: #5865F2;
  color: #5865F2; }
  .theme-discord button.secondary:not(:disabled):active,
  .theme-discord .button.secondary:not(:disabled):active {
    border-color: #2939ee;
    color: #2939ee; }

.theme-discord .checkbox > input:checked + .check {
  background-color: #5865F2; }

.theme-discord a {
  color: #5865F2; }

a {
  text-decoration: none;
  color: #74E9D4; }

.layer0 {
  color: white;
  background-color: #151517; }
  .layer0 .hover:hover {
    background-color: #212123; }
  .layer0 .hint {
    color: #bfbfbf; }

.background-color-layer0 {
  background-color: white; }

.layer1 {
  color: white;
  background-color: #201F25; }
  .layer1 .hover:hover {
    background-color: #2b2a30; }
  .layer1 .selected {
    background-color: #36353b; }
  .layer1 .hint {
    color: #bfbfbf; }

.background-color-layer1 {
  background-color: white; }

.layer2 {
  background-color: #313039;
  color: white; }
  .layer2 .hover:hover {
    background-color: #3b3a43; }
  .layer2 .selected {
    background-color: #5a5961; }
  .layer2 .hint {
    color: #bfbfbf; }

.background-color-layer2 {
  background-color: #313039; }

.layer3 {
  background-color: #3b3a43;
  color: white; }
  .layer3 .hover:hover {
    background-color: #45444c; }
  .layer3 .selected {
    background-color: #626169; }
  .layer3 .hint {
    color: #bfbfbf; }

.background-color-layer3 {
  background-color: #3b3a43; }

body {
  font-family: "Lato", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 26px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", "Helvetica Neue", "sans-serif";
  font-weight: 600;
  line-height: 1.1; }

.color-primary {
  color: #74E9D4 !important; }

.background-color-primary {
  background-color: #74E9D4; }

.color-secondary {
  color: #298086 !important; }

.background-color-secondary {
  background-color: #298086; }

.color-accent {
  color: #E43D30 !important; }

.background-color-accent {
  background-color: #E43D30; }

.theme-spotify .color-primary {
  color: #1DB954; }

.theme-spotify .background-color-primary, .theme-spotify.window > .accent {
  background-color: #1DB954; }

.theme-spotify button.primary,
.theme-spotify .button.primary {
  background-color: #1DB954;
  border-color: #1DB954;
  color: white; }
  .theme-spotify button.primary:not(:disabled):active,
  .theme-spotify .button.primary:not(:disabled):active {
    background-color: #1aa74c;
    border-color: #1aa74c;
    color: #e6e6e6; }

.theme-spotify button.secondary,
.theme-spotify .button.secondary {
  background-color: transparent;
  border-color: #1DB954;
  color: #1DB954; }
  .theme-spotify button.secondary:not(:disabled):active,
  .theme-spotify .button.secondary:not(:disabled):active {
    border-color: #1aa74c;
    color: #1aa74c; }

.theme-spotify .checkbox > input:checked + .check {
  background-color: #1DB954; }

.theme-spotify a {
  color: #1DB954; }

.theme-twitch .color-primary {
  color: #9146FF; }

.theme-twitch .background-color-primary, .theme-twitch.window > .accent {
  background-color: #9146FF; }

.theme-twitch button.primary,
.theme-twitch .button.primary {
  background-color: #9146FF;
  border-color: #9146FF;
  color: white; }
  .theme-twitch button.primary:not(:disabled):active,
  .theme-twitch .button.primary:not(:disabled):active {
    background-color: #833fe6;
    border-color: #833fe6;
    color: #e6e6e6; }

.theme-twitch button.secondary,
.theme-twitch .button.secondary {
  background-color: transparent;
  border-color: #9146FF;
  color: #9146FF; }
  .theme-twitch button.secondary:not(:disabled):active,
  .theme-twitch .button.secondary:not(:disabled):active {
    border-color: #833fe6;
    color: #833fe6; }

.theme-twitch .checkbox > input:checked + .check {
  background-color: #9146FF; }

.theme-twitch a {
  color: #9146FF; }

.theme-discord .color-primary {
  color: #5865F2; }

.theme-discord .background-color-primary, .theme-discord.window > .accent {
  background-color: #5865F2; }

.theme-discord button.primary,
.theme-discord .button.primary {
  background-color: #5865F2;
  border-color: #5865F2;
  color: white; }
  .theme-discord button.primary:not(:disabled):active,
  .theme-discord .button.primary:not(:disabled):active {
    background-color: #4f5bda;
    border-color: #4f5bda;
    color: #e6e6e6; }

.theme-discord button.secondary,
.theme-discord .button.secondary {
  background-color: transparent;
  border-color: #5865F2;
  color: #5865F2; }
  .theme-discord button.secondary:not(:disabled):active,
  .theme-discord .button.secondary:not(:disabled):active {
    border-color: #4f5bda;
    color: #4f5bda; }

.theme-discord .checkbox > input:checked + .check {
  background-color: #5865F2; }

.theme-discord a {
  color: #5865F2; }

a {
  text-decoration: none;
  color: #74E9D4; }

.layer0 {
  color: white;
  background-color: #151517; }
  .layer0 .hover:hover {
    background-color: #212123; }
  .layer0 .hint {
    color: #bfbfbf; }

.background-color-layer0 {
  background-color: white; }

.layer1 {
  color: white;
  background-color: #201F25; }
  .layer1 .hover:hover {
    background-color: #2b2a30; }
  .layer1 .selected {
    background-color: #36353b; }
  .layer1 .hint {
    color: #bfbfbf; }

.background-color-layer1 {
  background-color: white; }

.layer2 {
  background-color: #313039;
  color: white; }
  .layer2 .hover:hover {
    background-color: #3b3a43; }
  .layer2 .selected {
    background-color: #5a5961; }
  .layer2 .hint {
    color: #bfbfbf; }

.background-color-layer2 {
  background-color: #313039; }

.layer3 {
  background-color: #3b3a43;
  color: white; }
  .layer3 .hover:hover {
    background-color: #45444c; }
  .layer3 .selected {
    background-color: #626169; }
  .layer3 .hint {
    color: #bfbfbf; }

.background-color-layer3 {
  background-color: #3b3a43; }

input,
button,
select,
textarea,
.input,
.button {
  font-family: "Lato", "Arial", "sans-serif";
  font-weight: 400; }

input,
select,
textarea,
.input {
  width: 100%;
  font-size: 16px;
  color: white;
  background-color: #151517;
  border-color: #151517;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  padding: 10px 12px;
  outline: none;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  input.invalid,
  select.invalid,
  textarea.invalid,
  .input.invalid {
    border-color: #E43D30; }

textarea {
  max-width: 100%;
  min-width: 100%; }
  textarea.mono {
    font-family: "Fira Mono", "mono";
    font-size: 12px; }

button,
.button {
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  padding: 10px 16px;
  outline: none;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  button.primary,
  .button.primary {
    background-color: #74E9D4;
    border-color: #74E9D4;
    color: black; }
    button.primary:not(:disabled):active,
    .button.primary:not(:disabled):active {
      background-color: #68d2bf;
      border-color: #68d2bf;
      color: black; }
  button.secondary,
  .button.secondary {
    background-color: transparent;
    border-color: #74E9D4;
    color: #74E9D4; }
    button.secondary:not(:disabled):active,
    .button.secondary:not(:disabled):active {
      border-color: #68d2bf;
      color: #68d2bf; }
  button.accent,
  .button.accent {
    background-color: transparent;
    border-color: #E43D30;
    color: #E43D30; }
    button.accent:not(:disabled):active,
    .button.accent:not(:disabled):active {
      border-color: #cd372b;
      color: #cd372b; }
  button:disabled, button.disabled,
  .button:disabled,
  .button.disabled {
    background-color: #CCC;
    border-color: #CCC;
    cursor: default;
    color: #777; }
  button.small,
  .button.small {
    padding: 5px 8px; }
  button.tiny,
  .button.tiny {
    padding: 2px 4px; }

select {
  -webkit-appearance: none; }

.checkbox {
  user-select: none;
  position: relative;
  background-color: #151517;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 41px;
  width: 41px;
  border-radius: 0.25rem; }
  .checkbox > input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer; }
  .checkbox:not(.noninteractive):hover {
    background-color: #212123; }
  .checkbox > .check {
    display: block;
    position: absolute;
    background-color: transparent;
    top: 17.5%;
    left: 17.5%;
    width: 65%;
    height: 65%;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem; }
  .checkbox > input:checked + .check {
    background-color: #74E9D4; }
  .checkbox + label {
    margin-left: 1rem; }

body {
  font-family: "Lato", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 26px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", "Helvetica Neue", "sans-serif";
  font-weight: 600;
  line-height: 1.1; }

.color-primary {
  color: #74E9D4 !important; }

.background-color-primary {
  background-color: #74E9D4; }

.color-secondary {
  color: #298086 !important; }

.background-color-secondary {
  background-color: #298086; }

.color-accent {
  color: #E43D30 !important; }

.background-color-accent {
  background-color: #E43D30; }

.theme-spotify .color-primary {
  color: #1DB954; }

.theme-spotify .background-color-primary, .theme-spotify.window > .accent {
  background-color: #1DB954; }

.theme-spotify button.primary,
.theme-spotify .button.primary {
  background-color: #1DB954;
  border-color: #1DB954;
  color: white; }
  .theme-spotify button.primary:not(:disabled):active,
  .theme-spotify .button.primary:not(:disabled):active {
    background-color: #1aa74c;
    border-color: #1aa74c;
    color: #e6e6e6; }

.theme-spotify button.secondary,
.theme-spotify .button.secondary {
  background-color: transparent;
  border-color: #1DB954;
  color: #1DB954; }
  .theme-spotify button.secondary:not(:disabled):active,
  .theme-spotify .button.secondary:not(:disabled):active {
    border-color: #1aa74c;
    color: #1aa74c; }

.theme-spotify .checkbox > input:checked + .check {
  background-color: #1DB954; }

.theme-spotify a {
  color: #1DB954; }

.theme-twitch .color-primary {
  color: #9146FF; }

.theme-twitch .background-color-primary, .theme-twitch.window > .accent {
  background-color: #9146FF; }

.theme-twitch button.primary,
.theme-twitch .button.primary {
  background-color: #9146FF;
  border-color: #9146FF;
  color: white; }
  .theme-twitch button.primary:not(:disabled):active,
  .theme-twitch .button.primary:not(:disabled):active {
    background-color: #833fe6;
    border-color: #833fe6;
    color: #e6e6e6; }

.theme-twitch button.secondary,
.theme-twitch .button.secondary {
  background-color: transparent;
  border-color: #9146FF;
  color: #9146FF; }
  .theme-twitch button.secondary:not(:disabled):active,
  .theme-twitch .button.secondary:not(:disabled):active {
    border-color: #833fe6;
    color: #833fe6; }

.theme-twitch .checkbox > input:checked + .check {
  background-color: #9146FF; }

.theme-twitch a {
  color: #9146FF; }

.theme-discord .color-primary {
  color: #5865F2; }

.theme-discord .background-color-primary, .theme-discord.window > .accent {
  background-color: #5865F2; }

.theme-discord button.primary,
.theme-discord .button.primary {
  background-color: #5865F2;
  border-color: #5865F2;
  color: white; }
  .theme-discord button.primary:not(:disabled):active,
  .theme-discord .button.primary:not(:disabled):active {
    background-color: #4f5bda;
    border-color: #4f5bda;
    color: #e6e6e6; }

.theme-discord button.secondary,
.theme-discord .button.secondary {
  background-color: transparent;
  border-color: #5865F2;
  color: #5865F2; }
  .theme-discord button.secondary:not(:disabled):active,
  .theme-discord .button.secondary:not(:disabled):active {
    border-color: #4f5bda;
    color: #4f5bda; }

.theme-discord .checkbox > input:checked + .check {
  background-color: #5865F2; }

.theme-discord a {
  color: #5865F2; }

a {
  text-decoration: none;
  color: #74E9D4; }

.layer0 {
  color: white;
  background-color: #151517; }
  .layer0 .hover:hover {
    background-color: #212123; }
  .layer0 .hint {
    color: #bfbfbf; }

.background-color-layer0 {
  background-color: white; }

.layer1 {
  color: white;
  background-color: #201F25; }
  .layer1 .hover:hover {
    background-color: #2b2a30; }
  .layer1 .selected {
    background-color: #36353b; }
  .layer1 .hint {
    color: #bfbfbf; }

.background-color-layer1 {
  background-color: white; }

.layer2 {
  background-color: #313039;
  color: white; }
  .layer2 .hover:hover {
    background-color: #3b3a43; }
  .layer2 .selected {
    background-color: #5a5961; }
  .layer2 .hint {
    color: #bfbfbf; }

.background-color-layer2 {
  background-color: #313039; }

.layer3 {
  background-color: #3b3a43;
  color: white; }
  .layer3 .hover:hover {
    background-color: #45444c; }
  .layer3 .selected {
    background-color: #626169; }
  .layer3 .hint {
    color: #bfbfbf; }

.background-color-layer3 {
  background-color: #3b3a43; }

label {
  display: block; }

.form {
  display: flex;
  flex-direction: column; }

.form-group {
  display: block;
  margin-bottom: 1.5rem; }
  .form-group:last-child {
    margin-bottom: 0; }
  .form-group.split {
    display: flex;
    flex-direction: row; }
    .form-group.split > * {
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
      .form-group.split > *:first-child {
        margin-left: 0; }
      .form-group.split > *:last-child {
        margin-right: 0; }
    .form-group.split.even > * {
      flex-grow: 1;
      flex-basis: 0; }
  .form-group.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    .form-group.buttons > * {
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
      .form-group.buttons > *:first-child {
        margin-left: 0; }
      .form-group.buttons > *:last-child {
        margin-right: 0; }

label {
  font-weight: bold; }

label + input, label + select, label + textarea, label + .input, label + .input-mock, label + .labeled, label + .checkbox {
  margin-top: 1rem; }

label + p, p + p {
  margin-top: 0.5rem;
  margin-bottom: 0; }

p + input, p + select, p + textarea, p + .input, p + .input-mock, p + .labeled, p + .checkbox {
  margin-top: 1rem; }

body {
  max-width: 800px;
  margin: 4em auto;
  color: white;
  background-color: #151517; }
  body.modal {
    max-width: 600px;
    margin: 8em auto; }
  body:last-child:after {
    display: block;
    height: 1rem; }

.window {
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2rem; }
  .window > .accent {
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    -webkit-border-top-left-radius: 0.5rem;
    -webkit-border-top-right-radius: 0.5rem;
    -moz-border-radius-topleft: 0.5rem;
    -moz-border-radius-topright: 0.5rem; }
  .window .actual {
    padding: 0.5rem 1rem 1rem 1rem; }
    .window .actual > .header {
      margin: 1rem; }
      .window .actual > .header a {
        color: inherit; }
    .window .actual > .content {
      margin: 1rem;
      padding-top: 1rem; }
      .window .actual > .content > *:first-child {
        margin-top: 0; }

.windowless {
  margin-bottom: 2rem; }

.float-right {
  float: right; }

.errors {
  color: #E43D30;
  margin-top: 0;
  padding-left: 1em; }

/*# sourceMappingURL=styles.css.map */