{% extends "shared/default.html" %}
{% load static %}

{% block head %}
<script type="text/javascript">
  window.addEventListener("load", () => {
    document.getElementById("copy-access-token").addEventListener("click", () => {
      navigator.clipboard.writeText("{{ request.user.spotify.access_token }}");
    });
    document.getElementById("copy-refresh-token").addEventListener("click", () => {
      navigator.clipboard.writeText("{{ request.user.spotify.refresh_token }}");
    });
  });
</script>
<script type="text/javascript" src="{% static "js/spotify.js" %}"></script>
{% endblock %}

{% block content %}
<h1>
  Welcome, {{ request.user.first_name }}
</h1>
{% include "core/authorizations/spotify.html" %}
{% include "core/authorizations/twitch.html" %}

{#<div class="window layer1 theme-discord">#}
{#  <div class="accent background-color-discord"></div>#}
{#  <div class="actual">#}
{#    <h2 class="header">Discord Integrations</h2>#}
{#  </div>#}
{#</div>#}
<div class="windowless form-group buttons">
  <a class="button float-right" href="{% url "core:logout" %}">Logout</a>
</div>
{% endblock %}
