{% extends "shared/default.html" %}
{% load static %}

{% block head %}
<script type="text/javascript">
  window.addEventListener("load", () => {
    document.getElementById("copy-access-token").addEventListener("click", () => {
      navigator.clipboard.writeText("{{ request.user.spotify.access_token }}");
    });
    document.getElementById("copy-refresh-token").addEventListener("click", () => {
      navigator.clipboard.writeText("{{ request.user.spotify.refresh_token }}");
    });
  });
</script>
<script type="text/javascript" src="{% static "js/spotify.js" %}"></script>
{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<div class="window layer1 theme-twitch">
  <div class="accent twitch"></div>
  <div class="actual">
    <h1 class="header">Twitch Integration</h1>
    <div class="content">
      {% if twitch_integration %}
        {% include "core/integrations/twitch/index.html" %}
      {% else %}
        <a class="button primary" href="{% url "core:flow_twitch_integration" %}">Set up Twitch integration</a>
      {% endif %}
    </div>
  </div>
</div>
<div class="windowless form-group buttons">
  <a class="button float-right" href="{% url "core:logout" %}">Logout</a>
</div>
{% endblock %}
