{% extends "shared/default.html" %}
{% load static %}

{% block head %}
<script type="text/javascript">
  window.addEventListener("load", () => {
    document.getElementById("copy-access-token").addEventListener("click", () => {
      navigator.clipboard.writeText("{{ request.user.spotify.access_token }}");
    });
    document.getElementById("copy-refresh-token").addEventListener("click", () => {
      navigator.clipboard.writeText("{{ request.user.spotify.refresh_token }}");
    });
  });
</script>
<script type="text/javascript" src="{% static "js/spotify.js" %}"></script>
{% endblock %}

{% block content %}
<h1>
  Welcome, {{ request.user.first_name }}
</h1>
<div class="window layer1 theme-spotify">
  <div class="accent"></div>
  <div class="actual">
    <h2 class="header">Spotify Authorization</h2>
    <div class="content">
      <div class="form-group">
        {% if spotify_exception %}
        Error: {{ spotify_exception }}. Please reauthorize.
        {% else %}
        This Spotify authorization is under account <strong>{{ spotify_user.display_name }}</strong>, ID <code>{{ spotify_user.id }}</code>.
        The authorization tokens were last refreshed <span class="time" data-time="{{ request.user.spotify.time_refreshed.isoformat }}">on {{ request.user.spotify.time_refreshed | date:"P e" }} on {{ request.user.spotify.time_refreshed | date:"F d, Y" }}</span>.
        {% endif %}
      </div>
      <div class="form-group buttons">
        <button id="copy-access-token" class="secondary">Copy access token</button>
        <button id="copy-refresh-token" class="secondary">Copy refresh token</button>
        <a
          class="button primary"
          href="{% url "core:oauth_spotify" %}?next={% url "core:oauth_spotify_update" %}"
        >
          Reauthorize Spotify
        </a>
      </div>
    </div>
  </div>
</div>
<div class="window layer1 theme-twitch">
  <div class="accent"></div>
  <div class="actual">
    <h2 class="header">Twitch Integrations</h2>
    <div class="content">
      <div class="windowless">
        <p>
          The playlistener Twitch integration allows chatters to queue songs to your Spotify account or add them to a preselected playlist.
          The bot includes bans, cooldowns, and live configuration for moderators and broadcasters.
        </p>
        <ul>
          <li><code>?queue</code> adds a song to the queue or selected playlist based on configuration.</li>
          <li><code>?playlist</code> links the configured playlist.</li>
          <li><code>?song</code> lists the current song the broadcaster is listening to.</li>
          <li><code>?recent</code> lists the last couple songs the broadcaster has listened to.</li>
          <li><code>?ban &lt;username&gt;</code> bans a user from queueing songs.</li>
          <li><code>?unban &lt;username&gt;</code> unbans a user from queueing songs.</li>
          <li><code>?cooldown &lt;username&gt; &lt;seconds&gt;</code> times a user out from queueing; zero or <code>clear</code> to remove.</li>
          <li>
            <code>?config &lt;key&gt; [value]</code> query or set a config variable:
            <ul>
              <li><code>usequeue</code>: whether queueing is <code>on</code> or <code>off</code>.</li>
              <li><code>useplaylist</code>: whether adding to the playlist is <code>on</code> or <code>off</code>.</li>
              <li><code>cooldown</code>: the number of seconds between chatteer queues.</li>
              <li><code>subcooldown</code>: the cooldown in seconds for subscribers.</li>
              <li><code>playlist</code>: url to the target playlist for adding songs; must be public.</li>
            </ul>
          </li>
          <li><code>?on</code> turn the bot on.</li>
          <li><code>?off</code> turn the bot off, preventing <code>?queue</code> from being used.</li>

        </ul>
      </div>
      {% for integration in request.user.twitch_integrations.all %}
      <div class="window layer2">
        <div class="accent background-color-twitch"></div>
        <div class="actual">
          <h2 class="header">{{ integration.channel }}</h2>
          <div class="content">
            <form method="post" action="{% url "core:twitch_update" integration.pk %}">
              {% csrf_token %}
              {% with True as removable %}
              {% include "core/forms/twitch.html" %}
              {% endwith %}
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="form-group buttons">
        <a class="button primary" href="{% url "core:twitch" %}">Add Twitch Integration</a>
      </div>
    </div>
  </div>
</div>
{#<div class="window layer1 theme-discord">#}
{#  <div class="accent background-color-discord"></div>#}
{#  <div class="actual">#}
{#    <h2 class="header">Discord Integrations</h2>#}
{#  </div>#}
{#</div>#}
<div class="windowless form-group buttons">
  <a class="button float-right" href="{% url "core:logout" %}">Logout</a>
</div>
{% endblock %}
