{% extends "shared/default.html" %}
{% load flow %}

{% block bodyclass %}modal{% endblock %}

{% block content %}
<div class="window layer1">
  <div class="accent selected"></div>
  <div class="actual">
    <h1 class="header">Twitch Integration</h1>
    <div class="content">
      {% flow %}
      <p>
        Now that you've created your account, it's time to set up Playlistener's Twitch chat integration.
        First, you'll need to allow our servers to access your Spotify and Twitch accounts.
      </p>
      <div class="form-group buttons">
        <a class="button secondary" href="{% url "core:index" %}">Back</a>
        <a class="button primary" href="{% url step.next.view %}?flow=twitch_integration">{{ step.next.title|capfirst }}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
