{% extends "shared/default.html" %}

{% block bodyclass %}modal{% endblock %}

{% block content %}
<div class="window layer1">
  <div class="accent selected"></div>
  <div class="actual">
    <h1 class="header">Register</h1>
    <div class="content">
      <div class="steps">
        <div class="step selected"></div>
        <div class="link selected"></div>
        <div class="step selected"></div>
        <div class="link selected"></div>
        <div class="step selected"></div>
      </div>
      <p>
        While registering you will be asked to authorize our servers to access your Spotify and Twitch accounts.
        These steps are required for Playlistener to work, and explanations for why will be provided along the way.
      </p>
      {% if request.GET.error == "uninvited" %}
      <ul class="errors">
        <li>You haven't been invited to register!</li>
      </ul>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" name="username" type="text" />
        </div>
        <div class="form-group buttons">
          <a class="button secondary" href="{% url "core:login" %}">Back</a>
          <button type="submit" class="button primary">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
